scripts/Illustrator/
scripts/PDFs/
scripts/PNGs/
scripts/Other/
.ipynb_checkpoints
.DS_Store
.idea/
/scripts/Tidy.ipynb
Figs
*.pyc
.ruff_cache
src/__pycache__/
.venv
*.egg-info
raw_data
scripts/Exploratory/